@use "./utility.scss" as *;

// enable smooth scroll on everything
html {
  scroll-behavior: smooth;
}

// base body
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-primary-dark;
  color: $white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  min-width: 100%;
  min-height: 100vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: $font-weight-regular;
  text-shadow: $text-shadow-sm;
}

h1 {
  font-size: $font-size-heading;
}

h2 {
  font-size: $font-size-lg;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.section-medium {
  width: 565px;
}

.section-wide {
  width: 1085px;
}

.sub-title {
  color: gold;
}

.home {
  padding-top: 50px;
}

.about-me {
  padding-top: 100px;
}

.chevron {
  background: none;
  border: none;

  i {
    font-size: 10rem;
  }

  &:hover {
    color: $white;
  }
}
