@use "./utility.scss" as *;

// enable smooth scroll on everything
html {
  scroll-behavior: smooth;
}

// base body
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-primary-dark;
  color: $white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: $font-weight-regular;
  text-shadow: $text-shadow-sm;
}

h1 {
  font-size: $font-size-heading;
}

h2 {
  font-size: $font-size-lg;
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

.section-medium {
  width: 565px;
}

.section-wide {
  width: 1085px;
}

.sub-title {
  color: gold;
}

.home {
  padding-top: 50px;
}

.about-me {
  padding-top: 100px;
}

.chevron {
  background: none;
  border: none;
  color: $black;
  text-shadow: $text-shadow-m;

  i {
    font-size: 8rem;
  }

  &:hover {
    color: $white;
  }
}

.technologies {
  padding: 20px 15px;
  margin: 40px 0;
  text-align: center;
  background: $color-primary-deep;
  border-radius: 30px;
  box-shadow: $shadow-lg;
  border: 3px solid $color-border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-wide {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .tech-desc {
    width: 800px;
    text-align: left;
  }
}

.tech-image {
  width: 96px;
  height: 96px;
  img {
    width: 96px;
    filter: drop-shadow(0 0 5px $black);
  }
}
