@use "./utility.scss" as *;

a.primary-button {
  color: $white;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Language selector component styling
.language-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  left: 0;
  top: 0;
  width: 150px;
  height: auto;

  .language-selector-selected {
    width: 65px;
    height: 50px;
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    background: none;
    border: none;
    text-shadow: $text-shadow-sm;
    cursor: pointer;

    i {
      font-size: $font-size-lg;
      margin: 0;
    }
  }

  .language-selector-list {
    width: 100%;
    border: 3px solid $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    box-shadow: $shadow-lg;

    .language-selector-button {
      text-align: left;
      color: $white;
      text-shadow: $text-shadow-sm;
      font-size: $font-size-base;
      background: $color-primary-light;
      border: none;
      margin: 0;
      width: 100%;
      height: 50px;
      cursor: pointer;

      &:hover {
        background: $color-primary-dark;
      }
    }

    &.closed {
      display: none;
    }
  }
}

.project-container {
  width: 460px;
  height: 345px;
  margin: 15px;
  background: $color-primary-light;
  border: 3px solid $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: $shadow-lg;

  .project-header {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    background: $color-primary-dark;
    box-shadow: $shadow-md;

    h3 {
      padding: 0;
      margin: 0;
      text-shadow: $text-shadow-sm;
    }
  }

  .project-body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-description {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 60px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
    background: $color-border;
    p {
      padding: 0;
      margin: 0 10px;
      font-size: $font-size-less;
      text-shadow: $text-shadow-sm;
      font-weight: $font-weight-regular;
      color: $white;
    }
  }

  .project-image {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    transition: 100ms border-color ease-in-out;
    will-change: border-color;
    width: 90%;
    height: 220px;
    border-width: 5px;
    border-style: solid;
    border-color: $color-border;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &:hover {
      border-color: $white;
    }
  }
}

.full-screen-image-container {
  transition: transform 200ms ease-out, opacity 200ms ease-in;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  opacity: 1;

  .dim {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  img {
    width: 80%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
    z-index: 10;
    box-shadow: $shadow-xl;
  }

  &.hide {
    transform: scale(0);
    opacity: 0;
  }
}
