@use "./utility.scss" as *;

.footer {
  width: 100%;
  background-color: $color-primary;
  box-shadow: $shadow-lg;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;

    h3 {
      font-weight: $font-weight-regular;
    }
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: $white;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
